[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycodestyle = "*"
pylint = "*"
autopep8 = "*"
pygame = "*"
flake8 = "*"
python-lsp-server = "*"

[dev-packages]

[requires]
python_version = "3.10"
